.bg{
background-color: red;
color: white;
font-size: 1.2rem; 
}

.loc{
    font-size: 1rem;
}

.nav-link-custom {
  text-decoration: none;
  color: #ffffff;   
  font-family: 'Times New Roman', Times, serif;
  font-weight: 'bolder';   
  font-size: 25px;  
}
.nav-link-custom:hover {
    
  color: #5500ff;        /* optional hover color */
}

.myCanvas {
    background: rgba(0, 0, 0, 0.7) !important;   /* dark transparent bg */
    width: 250px !important;                    /* reduce width */
    color: white;                               /* optional */
}


